<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>gdbgui - gdb in a browser</title>
    <base target="_blank" />
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}" />
    <link href="{{ url_for('static', path='css/main.css?_='~version) }}" rel="stylesheet" />
    <link id="pygments-theme" href="{{ url_for('static', path='vendor/css/pygments/'~theme~".css") }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ url_for('static', path='vendor/js/vis-4.20.1.min.js') }}" defer></script>

    <script>
        initial_data = {{initial_data | tojson}}
        debug = {{debug | tojson}}
    </script>
    <script type="text/javascript" src="{{ url_for('static', path='js/main.js?_='~version) }}" defer></script>
  </head>

  <body>
      <div id="gdbgui" class="splitjs_container">
          <div style="text-align: center; color: #ccc;">
              <h3>Loading application, please wait.</h3>
              <p>
              Note: JavaScript and cookies must be enabled.
              </p>
          </div>
      </div>
  </body>
</html>
